<MudThemeProvider />
<MudDialogProvider FullWidth="true" 
                   MaxWidth="MaxWidth.Small" 
                   CloseButton="true" 
                   DisableBackdropClick="true" 
                   NoHeader="false" 
                   Position="DialogPosition.Center" />
<MudSnackbarProvider />
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <MudSkeleton />
                    <MudSkeleton Animation="Animation.False" />
                    <MudSkeleton Animation="Animation.Wave" />
                    <div class="col">
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <p>Validando sus credenciales, espere por favor ...</p>
                            </div>
                        </div>
                    </div>
                </Authorizing>
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        <RedirectToLogin/>
                    }
                    else
                    {
                        <div class="col">
                            <div class="row">
                                <div class="col d-flex justify-content-center">
                                    <p>No estás autorizado para ver ese recurso.</p>
                                </div>
                            </div>
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="col">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h2>Recurso no encontrado.</h2>
                        </div>
                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
