@page "/Productos/Indice"
@inject HttpClient cliente
@inject NavigationManager navigator
@inject IJSRuntime JsRuntime
@attribute [Authorize]

<h3><i class="fas fa-boxes"></i>&nbsp;Productos Indice</h3>
<hr />
<div class="container-fluid">
    @if (ProductosEnSistema is null)
    {
        <MudSkeleton />
        <MudSkeleton Animation="Animation.False" />
        <MudSkeleton Animation="Animation.Wave" />
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p>Cargando productos, espere por favor ...</p>
            </div>
        </div>
    }
    else if (ProductosEnSistema.Count == 0)
    {
        <div class="col">
	        <div class="row">
		        <div class="col-12 text-center alert alert-info"><h4><i class="fas fa-info-circle"></i>&nbsp;No existen productos creados en sistema.</h4></div>
	        </div>
	        <hr/>
	        <div class="row">
                <div class="col d-flex justify-content-center">
	                <MudFab Color="Color.Success" Size="Size.Medium" Icon="@Icons.Material.Filled.Add"
	                        OnClick="@(() => navigator.NavigateTo("/Productos/Crear"))" Label="Crear producto"></MudFab>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var producto in ProductosEnSistema)
            {
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <ProductoVerComponent ProductoBlock="producto" EditarProducto="ActualizarProducto" BorrarProducto="BorrarProducto" ></ProductoVerComponent>
                </div>
            }
        </div>
	    <hr />
    }
    <MudDivider></MudDivider>
    <br />
    <div class="row d-flex align-content-center">
	    <div class="col-sm-12 col-md-3 mt-2 text-center">
		    <MudFab Color="Color.Success" Icon="@Icons.Material.Filled.AddCircleOutline" ButtonType="ButtonType.Button" OnClick="NuevoProductoView" Label="Nuevo producto"></MudFab>
	    </div>
	    <div class="col-sm-12 col-md-3 mt-2 text-center">
		    <MudFab Color="Color.Success" Icon="@Icons.Material.Filled.AddCircleOutline" ButtonType="ButtonType.Button" OnClick="NuevoPresentacionView" Label="Nuevo presentación"></MudFab>
	    </div>
	    <div class="col-sm-12 col-md-3 mt-2 text-center">
		    <MudFab Color="Color.Success" Icon="@Icons.Material.Filled.AddCircleOutline" ButtonType="ButtonType.Button" OnClick="NuevoFormatoView" Label="Nuevo formato"></MudFab>
	    </div>
	    <div class="col-sm-12 col-md-3 mt-2 text-center">
		    <MudFab Color="Color.Success" Icon="@Icons.Material.Filled.AddCircleOutline" ButtonType="ButtonType.Button" OnClick="NuevoGrupoView" Label="Nuevo grupo"></MudFab>
	    </div>
    </div>
</div>
<br />
<br/>

@code {
    
    protected List<Producto> ProductosEnSistema;

    protected IJSObjectReference Modulo;

    protected override async Task OnInitializedAsync()
    {
        ProductosEnSistema = await cliente.GetFromJsonAsync<List<Producto>>("api/Productos/ObtenerListaProductos");
    }

    protected void ActualizarProducto(Producto productoBlock) => navigator.NavigateTo("/Productos/Editar/" + productoBlock.IdProducto);

    protected async void BorrarProducto(Producto productoBlock)
    {
        Modulo = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Utilidades.js");
        try
        {
            var result = await cliente.DeleteAsync("api/Productos/BorrarProducto/" + productoBlock.IdProducto);
            if (result.IsSuccessStatusCode)
            {
                ProductosEnSistema = await cliente.GetFromJsonAsync<List<Producto>>("api/Productos/ObtenerListaProductos");
                StateHasChanged();
	            await Modulo.InvokeVoidAsync("Exito");
            }
            else
            {
	            var mensaje = await result.Content.ReadAsStringAsync();
                await Modulo.InvokeVoidAsync("ErrorGeneral",mensaje);
            }
        }
        catch (Exception error)
        {
            await Modulo.InvokeVoidAsync("ErrorGeneral",error.Message);
        }
    }

    protected void NuevoProductoView() => navigator.NavigateTo("/Productos/Crear");
    protected void NuevoFormatoView() => navigator.NavigateTo("/Productos/Formatos");
    protected void NuevoPresentacionView() => navigator.NavigateTo("/Productos/Presentaciones");
    protected void NuevoGrupoView() => navigator.NavigateTo("/Productos/Grupos");

}
