@inject NavigationManager Navigator

@if (EmpresaEntrante is not null)
{
    <MudCard Elevation="3" Class="p-3">
        <MudCardContent>
            <MudText Typo="Typo.h6">&nbsp;@EmpresaEntrante.NombreEmpresa</MudText>
            <MudDivider />
            <br />
            <MudText><p>Razón social:&nbsp;<b class="text-center">@EmpresaEntrante.RazonSocial.</b></p></MudText>
            <MudText><p>Persona contacto:&nbsp;<b class="text-center">@EmpresaEntrante.PersonaContacto.</b></p></MudText>
            <MudText><p>R.U.T:&nbsp;<b class="text-center">@EmpresaEntrante.RutEmpresa.</b></p></MudText>
			<MudDivider></MudDivider>
            <div class="row text-center d-flex align-content-center">
	            <div class="col-4 mt-2">
		            <MudTooltip Text="Borrar">
			            <MudFab Color="Color.Error" Size="Size.Small"
			                    Icon="@Icons.Material.Filled.Delete" OnClick="EditarEmpresa">
			            </MudFab>
		            </MudTooltip>
	            </div>
	            <div class="col-4 mt-2">
		            <MudTooltip Text="Editar">
			            <MudFab Color="Color.Info" Size="Size.Small"
			                    Icon="@Icons.Material.Filled.Edit" OnClick="EditarEmpresa">
			            </MudFab>
		            </MudTooltip>
	            </div>
	            <div class="col-4 mt-2">
		            <MudTooltip Text="Asignar productos">
			            <MudFab Color="Color.Primary" Size="Size.Small"
			                    Icon="@Icons.Material.Filled.Add" OnClick="AgregarProductos">
			            </MudFab>
		            </MudTooltip>
	            </div>
            </div>
        </MudCardContent>
    </MudCard>
}


@code {
    [Parameter] public Packing.Core.Empresas.Empresa EmpresaEntrante { get; set; }

    protected void EditarEmpresa() => Navigator.NavigateTo("/Empresas/Editar/"+EmpresaEntrante.IdEmpresa);

    protected void AgregarProductos() => Navigator.NavigateTo("/Empresas/Agregar/"+EmpresaEntrante.IdEmpresa);
}
