@page "/IngresarPedido"
@inject ISnackbar Snackbar

<MudTabs @ref="_tabGeneral" HideSlider="true" Elevation="2" Rounded="true" Centered="true">
    <MudTabPanel @ref="_ingresoProductos" Icon="@Icons.Material.Filled.AddShoppingCart" Text="Ingreso de productos" BadgeColor="Color.Info">
        <br />
        <div class="row">
            <div class="col-6 text-center"></div>
            <div class="col-6 text-center">
                <MudFab Icon="@Icons.Outlined.ArrowForward" OnClick="(() => Activar(1))">Siguiente</MudFab>
            </div>
        </div>
        <br />
        @for (var i = 0; i < 3; i++)
        {
            var productoInterno = new GrupoProducto()
            {
                IdGrupo = i
            };
            <div class="col-12 p-1">
                <ComponenteGrupo Grupo="productoInterno" NotificacionExitosa="NotificacionExitosa" />
            </div>
        }
        <br />

    </MudTabPanel>
    <MudTabPanel @ref="_confirmacionProductos" Icon="@Icons.Material.Filled.AddTask" Text="Confirmación de productos">
        <br />
        <div class="row">
            <div class="col-6 text-center">
                <MudFab Icon="@Icons.Outlined.ArrowBack" OnClick="(() => Activar(0))">Atrás</MudFab>
            </div>
            <div class="col-6 text-center">
                <MudFab Icon="@Icons.Outlined.ArrowForward" OnClick="(() => Activar(2))">Siguiente</MudFab>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12">
                <p>En Confirmación de productos</p>
            </div>
        </div>
    </MudTabPanel>
    <MudTabPanel @ref="_datosPersonales" Icon="@Icons.Material.Filled.Assignment" Text="Datos personales" BadgeColor="Color.Secondary">
        <br />
        <div class="row">
            <div class="col-6 text-center">
                <MudFab Icon="@Icons.Outlined.ArrowBack" OnClick="(() => Activar(1))">Atrás</MudFab>
            </div>
            <div class="col-6 text-center">
                <MudFab Icon="@Icons.Outlined.ArrowForward" OnClick="(() => Activar(3))">Siguiente</MudFab>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12">
                <DatosPersonales />
            </div>
        </div>
    </MudTabPanel>
    <MudTabPanel @ref="_confirmacion" Icon="@Icons.Custom.Uncategorized.AlertSuccess" Text="Finalización" BadgeDot="true" BadgeColor="Color.Success">
        <br />
        <div class="row">
            <div class="col-6 text-center">
                <MudFab Icon="@Icons.Outlined.ArrowBack" OnClick="(() => Activar(2))">Atrás</MudFab>
            </div>
            <div class="col-6 text-center"></div>
        </div>
        <hr />
        <br />
        <p>Confirmar</p>
    </MudTabPanel>
</MudTabs>

@code {
    MudTabs _tabGeneral;
    MudTabPanel _ingresoProductos;
    MudTabPanel _confirmacionProductos;
    MudTabPanel _datosPersonales;
    MudTabPanel _confirmacion;

    void Activar(int Index)
    {
        _tabGeneral.ActivatePanel(Index);
    }

    void NotificacionExitosa(int idProducto)
    {
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;
        Snackbar.Configuration.SnackbarVariant = Variant.Outlined;
        Snackbar.Configuration.MaxDisplayedSnackbars = 10;
        Snackbar.Add($"Producto agregado {idProducto}", Severity.Success);
    }
}
