@using Packing.Shared.Pedidos

<MudCard Outlined="true" Elevation="3">
    <MudCardContent>
        <div class="row">
            <div class="col-md-12">
                <p>Producto: <b>&nbsp;@Detalle.ProductoInterno.NombreParaBusqueda</b>.</p>
                <p>Formato: <b>&nbsp;@Detalle.ProductoInterno.Formato.NombreFormato</b>.</p>
                <p>Grupos: <b>&nbsp;@Detalle.ProductoInterno.Grupo.NombreGrupo</b>.</p>
	            <p>Presentación: <b>&nbsp;@Detalle.ProductoInterno.Presentacion.NombrePresentacion</b>.</p>
	            <AuthorizeView Roles="Cliente">
					<p>Estado: <b>&nbsp;@Detalle.Estado.NombreEstado</b>.</p>
                </AuthorizeView>
            </div>
	        <div class="col-md-12">
		        <AuthorizeView Roles="Administrador">
			        <MudSelect T="int" @bind-Value="IdEstadoSeleccionado" Label="Estado" Strict="true" Variant="Variant.Outlined" Format="F2" AnchorOrigin="Origin.BottomCenter">
				        @foreach (var estado in ListaEstados)
				        {
					        if (Detalle.Estado.IdEstadoPedido > estado.IdEstadoPedido) continue;
					        <MudSelectItem T="int" Value="estado.IdEstadoPedido">@estado.NombreEstado</MudSelectItem>
				        }
			        </MudSelect>
			        <br />
		        </AuthorizeView>
	        </div>
        </div>
        <MudDivider></MudDivider>
    </MudCardContent>
    <MudCardActions>
        <div class="row text-center d-flex align-content-center">
            @if (Detalle.Estado.IdEstadoPedido < 4)
            {
                <div class="col-sm-12 col-md-6 mt-2">
                    @if (Detalle.Estado.IdEstadoPedido == 1)
                    {
                        <MudFab Label="Eliminar" Icon="@Icons.Outlined.Delete" Size="Size.Medium" Color="Color.Error"
                                OnClick="@(async () => await BorrarDetalle.InvokeAsync(Detalle.IdDetalle))"></MudFab>
                    }
                </div>
	            <div class="col-sm-12 col-md-6 mt-2">
		            <AuthorizeView Roles="Administrador">
			            <MudFab Label="Actualizar" Icon="@Icons.Outlined.Update" Size="Size.Medium" Color="Color.Info"
			                    OnClick="@(async () => await ActualizarEstado.InvokeAsync(Tuple.Create(CabeceraId, Detalle.IdDetalle, IdEstadoSeleccionado)))"></MudFab>
		            </AuthorizeView>
	            </div>
            }
            else
            {
                <MudAlert Severity="Severity.Success">Este producto ya se ha procesado completamente.</MudAlert>
            }
        </div>
        
    </MudCardActions>
</MudCard>

@code {
    protected int IdEstadoSeleccionado { get; set; }
    [Parameter]
    public DetallePedido Detalle { get; set; }
    [Parameter]
    public Guid CabeceraId { get; set; }
    [Parameter]
    public List<EstadoPedido> ListaEstados { get; set; }
    [Parameter]
    public EventCallback<Tuple<Guid,Guid,int>> ActualizarEstado { get; set; }
    [Parameter]
    public EventCallback<Guid> BorrarDetalle { get; set; }

    protected override Task OnInitializedAsync()
    {
        IdEstadoSeleccionado = Detalle.Estado.IdEstadoPedido;
        return base.OnInitializedAsync();
    }

}
